<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Events</title>
</head>
<body>
<p style="color: red" th:if="${message != null}" th:text="${message}"></p>
<table th:if="${events != null}">
    <caption>Events</caption>
    <tbody>
    <tr>
        <th id="id">ID</th>
        <th id="title">Title</th>
        <th id="date">Date</th>
    </tr>
    <tr th:each="event : ${events}">
        <th th:text="${event.getId()}">id</th>
        <th th:text="${event.getTitle()}">title</th>
        <th th:text="${event.getDate()}">date</th>
    </tr>
    </tbody>
</table>
</body>
</html>